/*----------------------------------------------
*
* [Main Stylesheet]
*
* Theme    : Gameon
* Version  : 1.0
* Author   : Themeland
* Support  : hridoy1272@gmail.com
* 
----------------------------------------------*/
/*----------------------------------------------
*
* [Font Import]
*
* Jost    : https://fonts.google.com
* Poppins : https://fonts.google.com
*
----------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
/*----------------------------------------------

[ALL CONTENTS]

1. Import
2. Root
3. Reset
4. General 
5. Section 
6. Helper Class
7. Header
8. Feature
9. Footer
10. Modal
11. Miscellaneous
12. Blog
13. All Media Queries

----------------------------------------------*/
/*----------------------------------------------
1. Import
----------------------------------------------*/
/* #region Import */
@import url(vendor/bootstrap.min.css);
@import url(vendor/animate.min.css);
@import url(vendor/all.min.css);
@import url(vendor/icons.min.css);
@import url(vendor/gilroy.css);
@import url(vendor/slider.min.css);
@import url(vendor/gallery.min.css);
/* #endregion Import */
/*----------------------------------------------
2. Root
----------------------------------------------*/
/* #region Root */
:root {
  --primary-font: 'Gilroy', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --h1-size: 4.5rem;
  --h1-weight: 900;
  --h2-size: 3rem;
  --h2-weight: 700;
  --h3-size: 2rem;
  --h3-weight: 600;
  --h4-size: 1.5rem;
  --h4-weight: 600;
  --h5-size: 1.2rem;
  --h5-weight: 600;
  --h6-size: 1rem;
  --h6-weight: 600;
  --p-size: 1rem;
  --p-weight: 400;
  --header-bg-color: #9877d0;
  --nav-brand-height: 55px;
  --top-nav-item-color: #F5F5F5;
  --nav-item-color: #121117;
  --primary-color: #f1b729;
  --secondary-color: #9877d0;
  --white-color: #F9F9F9;
  --black-color: #040402;
  --grey-color: #f3f5f7;
  --dark-grey-color: #191919;
  --primary-t-color: #F5F5F5;
  --secondary-t-color: #F5F5F5;
  --primary-p-color: #91b8ff;
  --secondary-p-color: #E1E1E1;
  --primary-b-color: #F5F5F5;
  --primary-l-color: rgba(0, 0, 0, 0.684);
  --secondary-l-color: rgba(255, 255, 255, 0.666);
  --valid-color: #007A4D;
  --invalid-color: #E34F4F;
  --primary-bg-color: #090A1A;
  --primary-bg-color-2: #EEEEEE;
  --primary-bg-color-3: #E5E5E5;
  --secondary-bg-color: #040402;
  --secondary-bg-color-2: #111111;
  --secondary-bg-color-3: #191919;
  --card-bg-color: #16182D;
  --footer-bg-color: #121117;
}

/* #endregion Root */
/*----------------------------------------------
3. Reset
HTML5 display-role reset for older browsers
----------------------------------------------*/
/* #region Reset */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--secondary-font);
  color: var(--primary-p-color);
  background-color: var(--primary-bg-color);
}

body.odd {
  background-color: var(--secondary-bg-color);
}

body:not(.page-template) .odd:not(.comment) {
  color: #8E8E8E;
}

body.page-template .odd {
  color: var(--white-color);
}

ol,
ul {
  padding-left: 20px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

ul ul {
  list-style: circle;
}

pre,
code {
  display: block;
  margin: 1rem 0;
  color: var(--primary-color);
}

blockquote,
q {
  display: block;
  margin: 1rem 0;
  quotes: none;
  quotes: none;
  font-style: italic;
  padding: 1rem 1.5rem;
  border-left: 5px solid var(--primary-bg-color-3);
}

.odd blockquote,
q {
  border-left: 5px solid var(--secondary-bg-color-3);
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

blockquote p,
q p {
  margin: 0;
}

figure {
  margin-bottom: 1.5rem;
}

figcaption {
  margin-bottom: 1.5rem;
  font-style: italic;
  padding: 1rem 1.5rem;
  border-left: 5px solid var(--primary-bg-color-3);
}

.odd figcaption {
  border-left: 5px solid var(--secondary-bg-color-3);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #endregion Reset */
/*----------------------------------------------
4. General
----------------------------------------------*/
/* #region General */
::-moz-selection {
  background: rgba(166, 175, 189, 0.3);
}

::selection {
  background: rgba(166, 175, 189, 0.3);
}

::-moz-selection {
  background: rgba(166, 175, 189, 0.3);
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:not(.btn),
a:link:not(.btn),
a:visited:not(.btn),
a:hover:not(.btn),
a:active:not(.btn) {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-color);
  text-decoration: none;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

a:not([href]),
a:not([href]):hover,
a:not([href]) i,
a:not([href]) i:hover {
  color: var(--primary-b-color);
}

p {
  margin: 1.5rem 0;
  font-size: var(--p-size);
  font-weight: var(--p-weight);
  line-height: 1.5;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.odd:not(.comment) p {
  color: var(--white-color);
}

.page-template .odd p {
  opacity: 0.7;
}

.swiper-wrapper.odd p {
  opacity: 0.8;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: 1.2;
  font-family: var(--primary-font);
  color: var(--primary-color);
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

h1 em {
  display: block;
  font-size: var(--h2-size);
  font-weight: 300;
}

h2 {
  margin: 1.5rem 0;
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: 1.2;
  font-family: var(--primary-font);
  color: var(--primary-t-color);
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.odd h2 {
  color: var(--white-color);
}

h3 {
  margin: 1.5rem 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--primary-font);
  color: var(--primary-t-color);
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

h4 {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--primary-font);
  color: var(--primary-t-color);
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.odd h4 {
  color: var(--secondary-t-color);
}

h5 {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: var(--primary-font);
  color: var(--primary-t-color);
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

h6 {
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: var(--primary-font);
  color: var(--primary-t-color);
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

b,
strong {
  font-weight: 700;
}

li {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

::-webkit-input-placeholder {
  color: var(--primary-p-color) !important;
}

:-ms-input-placeholder {
  color: var(--primary-p-color) !important;
}

::-ms-input-placeholder {
  color: var(--primary-p-color) !important;
}

::placeholder {
  color: var(--primary-p-color) !important;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

table td {
  padding: 10px 0;
}

table th {
  padding: 10px 0;
}

dt {
  margin: 15px 0;
}

address {
  margin-bottom: 1rem;
}

form {
  width: 100%;
}

form label {
  width: 100%;
}

input,
textarea,
select {
  width: 100%;
  height: 50px;
  background: no-repeat;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0.7rem 1rem;
  border-color: var(--primary-l-color);
  border-width: 2px;
  border-radius: 2px;
}

input:focus,
textarea:focus,
select:focus {
  background: no-repeat;
  color: inherit;
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input {
  border-color: var(--primary-p-color);
  color: var(--primary-p-color);
}

input:focus {
  border-color: var(--primary-t-color);
  color: var(--primary-t-color);
}

input[type="radio"] {
  height: initial;
}

input[type="submit"] {
  border: 1px solid;
  padding: 2.5px 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 200px;
  text-align: center;
  color: var(--primary-color);
}

input[type="submit"]:hover {
  background-color: var(--primary-color);
  color: var(--primary-b-color);
  border-color: var(--primary-color);
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}

textarea {
  height: 100px;
  resize: none;
  border-color: var(--primary-p-color);
  color: var(--primary-t-color);
}

textarea:focus {
  border-color: var(--primary-t-color);
  color: var(--primary-t-color);
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-indent: 1px;
  text-overflow: '';
  line-height: 1.2;
  border-color: var(--primary-l-color);
  color: var(--primary-t-color);
}

select option {
  color: #2f323a;
}

select:focus {
  border-color: var(--primary-t-color);
  color: var(--primary-t-color);
}

hr {
  margin: 35px 0;
  border-top: 1px dashed var(--primary-l-color);
}

.odd hr {
  margin: 35px 15px;
  border-top: 1px dashed var(--secondary-l-color);
}

table {
  width: 100%;
}

tr:not(:last-child) {
  border-bottom: 1px solid;
  border-color: var(--primary-l-color);
}

.odd tr:not(:last-child) {
  border-bottom: 1px solid;
  border-color: var(--secondary-l-color);
}

td {
  padding: 10px 0;
}

/* #endregion General */
/*----------------------------------------------
5. Section
----------------------------------------------*/
/* #region Section */
section {
  width: 100%;
  padding: 130px 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

section.no-hero {
  padding: 150px 0 130px;
}

section#slider:not(.bg-inherit) {
  background-color: var(--hero-bg-color);
}

main {
  padding: 0;
}

aside {
  padding: 0;
}

.container {
  padding: 0;
  max-width: 1170px;
}

.container.header {
  max-width: 1140px;
}

.container.full {
  max-width: 100%;
}

.container.full-grid {
  padding: 0;
  max-width: calc(100% - 30px);
  margin: 0 15px;
}

.container.smaller {
  max-width: 970px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.vh-100 {
  height: 100vh;
}

.vh-75 {
  height: 75vh;
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

/* #endregion Section */
/*----------------------------------------------
6. Helper Class
----------------------------------------------*/
/* #region Helper Class */
.gameon-preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
  z-index: 99999;
}

.gameon-preloader .preloader-animation {
  z-index: 1000;
}

.gameon-preloader .preloader-animation .spinner {
  height: 8em;
  width: 8em;
  margin: 0 auto 3.5em auto;
  border: 10px solid var(--card-bg-color);
  border-top-color: var(--primary-color);
  border-radius: 50%;
  -webkit-animation: spinner 1s infinite linear;
          animation: spinner 1s infinite linear;
}

.gameon-preloader .preloader-animation p {
  letter-spacing: 8px;
}

.gameon-preloader .loader-animation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.gameon-preloader .loader-animation .single-loader .loader-bg {
  height: 100%;
  width: 100%;
  left: 0;
  background-color: var(--primary-bg-color);
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.gameon-preloader.loaded {
  visibility: hidden;
}

.gameon-preloader.loaded .preloader-animation {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.gameon-preloader.loaded .single-loader .loader-bg {
  width: 0;
  -webkit-transition: 0.7s all cubic-bezier(0.1, 0.1, 0.1, 1);
  transition: 0.7s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes animated-letters {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes animated-letters {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.avatar-sm {
  height: 3rem;
  width: 3rem;
}

.avatar-md {
  height: 4rem;
  width: 4rem;
}

.avatar-lg {
  height: 5rem;
  width: 5rem;
}

.avatar-max-lg {
  height: 6rem;
  width: 6rem;
}

.intro {
  margin-bottom: 60px;
}

.intro .intro-text {
  position: relative;
  display: inline-block;
  font-weight: 600;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.intro .intro-text::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 45px;
  background-color: var(--primary-color);
  top: 50%;
  left: calc(100% + 20px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.intro h1:first-child,
.intro h2:first-child,
.intro h3:first-child {
  margin-top: 0;
}

.intro.text-center span::after {
  content: none;
}

.list-group-item {
  margin: 0;
  background: none;
  font-size: 1rem;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  border-color: var(--card-bg-color);
}

.list-group-item:first-child {
  border: none;
}

.list-group-item a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list-group-item .badge.circle {
  background-color: var(--card-bg-color);
}

.post-holder {
  list-style: none;
  width: 100%;
  border-left: 5px solid var(--primary-color);
  background-color: var(--card-bg-color);
  padding: 25px;
  margin-top: 35px;
}

.posted-on a:not(.btn) {
  font-weight: 600;
}

.sidebar .item {
  margin-bottom: 35px;
}

.sidebar ol {
  list-style: none;
  padding: 0;
}

.sidebar ol ol {
  padding: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul.children {
  padding: 0;
}

.sidebar ul li:not(.nav-item):not(.list-group-item) {
  position: relative;
  padding-left: 0;
}

.sidebar ul li a:not(.btn) {
  color: inherit;
  overflow-wrap: break-word;
}

.sidebar ul li a:not(.btn):hover {
  color: var(--primary-color);
}

.sidebar ul ul {
  padding: 15px;
}

.sidebar ul ul li:not(.nav-item):not(.list-group-item):not(.cat-item) {
  padding-left: 20px;
}

.sidebar li:hover::before {
  background-color: var(--primary-color);
}

.sidebar .sub-menu {
  padding: 0;
}

.sidebar .title {
  width: 100%;
  margin-top: 0;
  list-style: none;
}

.list-group .list-group-item .icon {
  color: var(--primary-color);
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post-details .blog-thumb img {
  border-radius: 4px;
}

.post-details blockquote {
  margin: 1rem 2rem;
  padding: 2rem 1.5rem;
  border-left: 5px solid var(--primary-color);
  font-size: 1.2rem;
  color: var(--primary-color);
  background-color: var(--card-bg-color);
}

@media (max-width: 575px) {
  .post-details blockquote {
    font-size: 100%;
  }
}

.post-details .sidebar .title {
  position: relative;
  font-weight: 700;
}

.post-details .sidebar .title::before {
  position: absolute;
  content: '';
  height: 3px;
  width: 50px;
  background-color: var(--primary-color);
  left: 3px;
  top: calc(100% + 10px);
}

.btn {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white-color);
  line-height: 1;
  text-align: center;
  padding: 16px 34px;
  border: 0 none;
  border-radius: 100px;
  outline: 0 none;
  cursor: pointer;
  z-index: 1;
}

.btn:hover, .btn:focus, .btn:active {
  color: var(--white-color);
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.btn.btn-bordered {
  background: transparent none repeat scroll 0 0;
  color: #444;
}

.btn.btn-bordered::before {
  position: absolute;
  content: "";
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  background-image: linear-gradient(135deg, var(--primary-color) 10%, var(--secondary-color));
  top: -2px;
  left: -2px;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -2;
}

.btn.btn-bordered:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 100px;
  background: #fff none repeat scroll 0 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

.btn.btn-bordered:hover, .btn.btn-bordered:focus, .btn.btn-bordered.active {
  color: #fff;
}

.btn.btn-bordered:hover::after, .btn.btn-bordered:focus::after, .btn.btn-bordered.active::after {
  opacity: 0;
}

.btn.btn-bordered-white {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #fff;
}

.btn.btn-bordered-white::after {
  position: absolute;
  content: "";
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  background-image: linear-gradient(135deg, var(--primary-color) 10%, var(--secondary-color));
  top: -2px;
  left: -2px;
  border-radius: 100px;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

.btn.btn-bordered-white:hover, .btn.btn-bordered-white:focus {
  border-color: transparent;
  outline: 0 none;
}

.btn.btn-bordered-white:hover::after, .btn.btn-bordered-white:focus::after {
  opacity: 1;
}

.btn.content-btn {
  padding: 0;
  font-weight: 600;
  color: var(--primary-t-color);
  text-align: left;
  line-height: 1.2;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-right: 15px;
}

@media (max-width: 575px) {
  .btn.content-btn {
    margin-bottom: 5px;
  }
}

.btn.content-btn::before {
  position: absolute;
  content: '\f061';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

.btn.content-btn::after {
  position: absolute;
  content: '\f061';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  top: 50%;
  right: -10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

.btn.content-btn:hover {
  color: var(--primary-color);
}

.btn.content-btn:hover::before {
  right: -10px;
  opacity: 1;
}

.btn.content-btn:hover::after {
  right: -20px;
  opacity: 0;
}

.btn-smaller {
  font-size: 0.9rem;
  padding: 12px 18px;
}

.button-group {
  margin-top: 30px;
}

.button-group a {
  margin-right: 10px;
}

.button-group a:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {
  .button-group a {
    margin-top: 0;
    margin-right: 5px;
  }
  .button-group a:last-child {
    margin-top: 0.5rem;
  }
  .button-group a .btn {
    padding: 12px 20px;
  }
}

.breadcrumb-area {
  background: rgba(0, 0, 0, 0) url("../img/bg/nunafondo.PNG") no-repeat scroll top center/cover;
}

.breadcrumb-area.bg-overlay::after {
  opacity: 0.89;
}

/* #endregion Helper Class */
/*----------------------------------------------
7. Header
----------------------------------------------*/
/* #region Header */
header {
  position: relative;
  z-index: 5;
}

header .navbar-expand {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 20px 25px;
}

header .navbar-expand .navbar-brand {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 0;
  color: var(--nav-item-color);
}

header .navbar-expand .navbar-brand i {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: initial;
  color: var(--primary-color);
}

header .navbar-expand .navbar-brand img {
  height: var(--nav-brand-height);
}

header .navbar-expand .navbar-nav.toggle {
  display: none;
}

header .navbar-expand .navbar-nav.toggle i {
  font-size: 20px;
}

header .navbar-expand .navbar-nav .nav-item {
  margin: 0;
}

header .navbar-expand .navbar-nav .nav-item a:not(.btn) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: 600;
  color: var(--white-color);
}

header .navbar-expand .navbar-nav .nav-item .nav-link:not(.btn):not(.title):hover, header .navbar-expand .navbar-nav .nav-item .nav-link.active:not(.btn):not(.title) {
  color: var(--primary-color);
}

header .navbar-expand .navbar-nav .dropdown .dropdown-menu {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 14.375rem;
  padding: 0.625rem 0;
  border: none;
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

header .navbar-expand .navbar-nav .dropdown .dropdown-menu .nav-link:not(.btn) {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.625rem 1.25rem;
  color: var(--nav-item-color);
}

header .navbar-expand .navbar-nav .dropdown .dropdown-menu .nav-link.active:not(.btn):not(.title) {
  background-color: rgba(1, 114, 128, 0.05);
}

header .navbar-expand .navbar-nav .dropdown .dropdown-menu .nav-link.title {
  font-weight: 600;
  color: var(--primary-t-color);
  opacity: 0.8;
}

header .navbar-expand .navbar-nav .dropdown .dropdown-menu .nav-link:not(.btn):not(.title):hover {
  background-color: rgba(1, 114, 128, 0.05);
  color: var(--primary-color);
}

header .navbar-expand .navbar-nav .dropdown .dropdown-menu .dropdown-menu {
  top: -8px;
  left: 100%;
}

header .navbar-expand .navbar-nav .dropdown i.icon-arrow-down {
  position: relative;
  top: 1.5px;
  margin: 0 0 0 0.3rem;
  font-size: 12px;
  font-weight: 600;
}

header .navbar-expand .navbar-nav .dropdown i.icon-arrow-right {
  position: relative;
  top: 0;
  left: 5px;
  margin: 0 0 0 0.3rem;
  font-size: 10px;
  font-weight: 600;
}

header .navbar-expand .navbar-nav .dropdown:hover > .dropdown-menu {
  visibility: unset;
  opacity: 1;
  margin: 0;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
}

header .navbar-expand .icons i {
  font-weight: 400;
}

header .navbar-sticky {
  background-color: var(--header-bg-color);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.menu .items {
  margin-left: -5px;
  width: calc(100% + 10px);
}

.menu .navbar-nav {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}

.menu .navbar-nav .nav-item {
  margin: 0;
}

.menu .navbar-nav .nav-item .nav-link:not(.btn) {
  width: calc(100% - 12px);
  padding: 10px 5px;
  margin: 0 5px;
}

.menu .navbar-nav .nav-item .nav-link:not(.btn):hover {
  color: var(--primary-color);
}

.menu .navbar-nav .nav-item .nav-link:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-right: 0;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-t-color);
}

.menu .navbar-nav .dropdown .dropdown-menu {
  display: none;
  width: 100%;
  padding: 0 0 0 20px;
  margin: 0 0 10px;
  background: none;
  visibility: visible;
  opacity: 1;
}

.menu .navbar-nav .dropdown .dropdown-menu.show {
  display: block;
}

.menu .navbar-nav .dropdown .dropdown-menu .nav-link {
  padding: 0.5rem 0;
  margin: 5px;
  font-size: 1rem;
  color: var(--primary-p-color);
  text-align: left;
}

.menu .navbar-nav .dropdown .dropdown-menu .nav-link:hover {
  color: var(--primary-color);
}

.menu .navbar-nav .dropdown .dropdown-menu .nav-link.title {
  font-weight: 600;
  color: var(--primary-t-color);
  border: none;
  opacity: 0.8;
}

.menu .navbar-nav .dropdown .dropdown-menu .dropdown-menu {
  position: relative;
  top: initial;
  left: initial;
}

.menu .navbar-nav .dropdown .dropdown-menu .left,
.menu .navbar-nav .dropdown .dropdown-menu .right {
  width: 50%;
}

.menu .navbar-nav .dropdown:first-child {
  margin-top: 0;
}

.menu .navbar-nav i.icon-arrow-down {
  font-size: 18px;
}

/* #endregion Header */
/*----------------------------------------------
8. Feature
----------------------------------------------*/
/* #region Feature */
.icon {
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 44px;
  display: block;
  margin: auto;
}

.icon.smaller {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
}

.icon.bigger {
  width: 7rem;
  height: 7rem;
  margin: 0;
  font-size: 6.5rem;
  line-height: 7rem;
  font-weight: bold;
}

.icon.circle {
  border-radius: 100px;
  font-size: 28px;
}

.icons {
  display: inline-block;
  font-size: 3rem;
  line-height: 1;
}

.items .item {
  margin-top: 30px;
}

.clip-text,
.text-effect,
.share-list .nav-link i {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-text, .btn, .blog .pagination > li.active > a,
.text-effect,
.share-list .nav-link i,
.blog-details .pagination > li.active > a {
  background-image: linear-gradient(150deg, var(--secondary-color) 0%, var(--primary-color) 78%);
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  margin-top: 50px;
  position: relative;
}

.swiper-pagination-bullet {
  width: 40px !important;
  height: 5px !important;
  border-radius: 0 !important;
  background-color: var(--primary-p-color);
  border: none !important;
  opacity: 0.25 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  opacity: 1 !important;
}

.card-columns {
  margin: 0 15px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.card-columns .card {
  margin-bottom: 30px;
}

.card {
  padding: 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: var(--card-bg-color);
  -webkit-box-shadow: 0 3px 20px 0px var(--primary-l-color);
          box-shadow: 0 3px 20px 0px var(--primary-l-color);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
          transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}

.card .card-img-top {
  border-radius: 6px;
}

.card .card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 1px;
  padding: 35px 0 0;
}

.card .card-body h3,
.card .card-body h4,
.card .card-body h5,
.card .card-body h6 {
  margin-top: 0;
}

.card .card-body .card-bottom span {
  color: var(--white-color);
}

.card .card-footer {
  border-radius: 0;
  background: none;
  padding: 30px 0;
  margin: 0 30px;
  border-top: 1px solid var(--primary-l-color);
}

.card .card-footer a {
  margin: 0 10px;
}

.card .card-footer a:not(.btn) {
  color: var(--primary-p-color);
}

.card .card-footer .card-footer i {
  margin: 0 5px 2.5px;
}

.card:hover .card-footer {
  color: #f5f5f5;
  border-color: rgba(255, 255, 255, 0.25);
}

.card.no-hover {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card.no-hover:hover {
  -webkit-transform: inherit;
          transform: inherit;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.card:not(.no-hover):hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.card.project-card {
  padding: 2.5rem 2rem;
  border-radius: 2rem;
}

.card.project-card .card-img-top {
  border-radius: 8px;
}

.card.project-card .media-body h4 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.card.project-card .media-body a:hover h4 {
  color: var(--primary-color);
}

.card.project-card .single-item {
  display: inline-block;
  margin: 2px 0;
  padding: 0.5rem 0.8rem;
  background: var(--primary-bg-color);
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
}

.card.project-card .single-item span:last-child {
  color: var(--white-color);
}

.card.project-card .single-item.prev-project {
  margin: 0 0.5rem;
  padding: 0.6rem 1rem;
  font-size: 13px;
}

@media (max-width: 575px) {
  .card.project-card .single-item.prev-project {
    font-size: 12px;
  }
}

.card.project-card .single-item.prev-project .single-item {
  margin: 0.25rem 0.5rem;
}

.card.project-card .progress {
  height: 1.8rem;
  background-color: var(--primary-bg-color);
  border-radius: 1rem;
}

.card.project-card .progress .progress-bar {
  background-color: var(--primary-color);
}

.card.project-card .progress-sale span {
  color: var(--white-color);
}

.card.project-card .project-footer .social-share li {
  margin: 0 0.5rem;
}

@media (max-width: 575px) {
  .card.project-card .project-footer .social-share li {
    margin: 0 0.3rem;
  }
}

.card.project-card .project-footer .social-share li a {
  font-size: 1.2rem;
  color: var(--white-color);
}

.card.project-card .blockchain-icon:not(.prev-project) {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.card.project-card.prev-project-card {
  padding: 2rem;
  background-color: rgba(22, 24, 45, 0.159);
}

.card.project-card .project-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
}

.card.tier-card {
  border: 8px dashed var(--primary-bg-color);
  border-radius: 2rem;
}

.card.tier-card .title {
  font-family: var(--primary-font);
  font-weight: 900;
  letter-spacing: 1px;
}

.card.tier-card .category {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--white-color);
}

.card.tier-card .card-body li span {
  display: block;
}

.card.tier-card .card-body li span:last-child {
  margin-top: 0.5rem;
  font-weight: 600;
  color: var(--white-color);
}

.card.tier-card .tier-type {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
}

.card.tier-card .tier-type span {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--primary-color);
}

.card.team-card {
  border-radius: 1.5rem;
}

.card.team-card .team-photo {
  position: relative;
  height: 100px;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  border: 3px solid var(--card-bg-color);
  -webkit-box-shadow: inset 0 0 0 2px rgba(22, 24, 45, 0.5);
  box-shadow: inset 0 0 0 2px rgba(22, 24, 45, 0.5);
}

.card.team-card .team-photo::before, .card.team-card .team-photo::after {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card.team-card .team-photo::before {
  content: "";
  top: 0;
  width: 94px;
  height: 94px;
  opacity: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(22, 24, 45, 0.5);
  box-shadow: 0 0 0 2px rgba(22, 24, 45, 0.5);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.card.team-card .team-photo::after {
  content: "";
  top: 5px;
  width: 84px;
  height: 84px;
  background-color: rgba(22, 24, 45, 0.5);
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
}

.card.team-card .team-photo img {
  border-radius: 1rem;
}

.card.team-card .team-content h4 {
  font-size: 1.3rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.card.team-card .team-content .social-share li {
  margin: 0 0.5rem;
}

.card.team-card .team-content .social-share li a {
  font-size: 1rem;
  color: var(--white-color);
}

.card.team-card:hover .team-photo::before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.card.team-card:hover .team-photo::after {
  height: 104px;
  width: 104px;
  top: -5px;
  left: -5px;
  background-color: rgba(22, 24, 45, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 71, 255, 0.2);
  box-shadow: 0 5px 10px rgba(0, 71, 255, 0.2);
}

.card.team-card:hover a h4 {
  color: var(--primary-color);
}

.card.blog-card {
  border-radius: 1.5rem;
}

.card.blog-card .blog-thumb img {
  border-radius: 6px;
}

.card.blog-card .blog-content a {
  color: var(--white-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card.blog-card .blog-content a h4 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card.blog-card .blog-content a:hover {
  color: var(--primary-color);
}

.card.blog-card .blog-content a:hover h4 {
  color: var(--primary-color);
}

@media (min-width: 991px) {
  .inner .card.project-card {
    padding: 2.5rem 1.7rem;
  }
}

.hero-section {
  position: relative;
  background-image: (linear, left bottom, left top, from(#360b6a87), trgba(21, 9, 26, 0.14)8), url(../img/bg/nunafondo2.PNG);
  background-image: linear-gradient(0deg, #d79d2f7c, rgba(197, 132, 225, 0.37)), url(../img/bg/nunafondo2.PNG);
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  z-index: 1;
}

.hero-section h1 {
  color: var(--white-color);
}

.hero-section p {
  font-size: 1.2rem;
}

.content-list .content-icon span {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100px;
  width: 100px;
  background-color: var(--card-bg-color);
  border-radius: 2rem;
}

@media (max-width: 575px) {
  .content-list .content-icon span {
    height: 80px;
    width: 80px;
    border-radius: 1.8rem;
  }
}

.content-list .content-icon span svg {
  font-size: 2rem;
  color: var(--white-color);
}

@media (max-width: 575px) {
  .content-list .content-icon span svg {
    font-size: 1.5rem;
  }
}

.content-list .content-icon span.featured {
  background-color: var(--primary-color);
}

.wrapper-animation {
  margin: 8rem 0;
}

.wrapper-animation .blockchain-wrapper {
  position: relative;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 7.5rem;
  width: 7.5rem;
  -webkit-transform-origin: 3.75rem 3.75rem;
          transform-origin: 3.75rem 3.75rem;
  -webkit-transform: rotateX(50deg) rotateZ(45deg);
          transform: rotateX(50deg) rotateZ(45deg);
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}

.wrapper-animation .blockchain-wrapper .pyramid {
  position: absolute;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.wrapper-animation .blockchain-wrapper .pyramid.inverse {
  -webkit-transform: translateZ(-1.42857rem) rotateY(180deg);
          transform: translateZ(-1.42857rem) rotateY(180deg);
}

.wrapper-animation .blockchain-wrapper .square {
  height: 7.5rem;
  width: 7.5rem;
  background: #3f65ff;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.wrapper-animation .blockchain-wrapper .triangle {
  position: absolute;
  height: 10rem;
  width: 10rem;
}

.wrapper-animation .blockchain-wrapper .triangle:nth-child(1) {
  width: 7.5rem;
  top: -33%;
  background: #728eff;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-68deg);
          transform: rotateX(-68deg);
}

.wrapper-animation .blockchain-wrapper .triangle:nth-child(2) {
  width: 7.5rem;
  background: #728eff;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: rotateX(68deg);
          transform: rotateX(68deg);
}

.wrapper-animation .blockchain-wrapper .triangle:nth-child(3) {
  height: 7.5rem;
  left: -33%;
  background: #a5b7ff;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-clip-path: polygon(100% 100%, 0 50%, 100% 0);
          clip-path: polygon(100% 100%, 0 50%, 100% 0);
  -webkit-transform: rotateY(68deg);
          transform: rotateY(68deg);
}

.wrapper-animation .blockchain-wrapper .triangle:nth-child(4) {
  height: 7.5rem;
  background: #a5b7ff;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-clip-path: polygon(0 100%, 100% 50%, 0 0);
          clip-path: polygon(0 100%, 100% 50%, 0 0);
  -webkit-transform: rotateY(-68deg);
          transform: rotateY(-68deg);
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateX(50deg) rotateZ(0deg) translateZ(-0.5rem);
            transform: rotateX(50deg) rotateZ(0deg) translateZ(-0.5rem);
  }
  50% {
    -webkit-transform: rotateX(50deg) rotateZ(180deg) translateZ(0.5rem);
            transform: rotateX(50deg) rotateZ(180deg) translateZ(0.5rem);
  }
  to {
    -webkit-transform: rotateX(50deg) rotateZ(360deg) translateZ(-0.5rem);
            transform: rotateX(50deg) rotateZ(360deg) translateZ(-0.5rem);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateX(50deg) rotateZ(0deg) translateZ(-0.5rem);
            transform: rotateX(50deg) rotateZ(0deg) translateZ(-0.5rem);
  }
  50% {
    -webkit-transform: rotateX(50deg) rotateZ(180deg) translateZ(0.5rem);
            transform: rotateX(50deg) rotateZ(180deg) translateZ(0.5rem);
  }
  to {
    -webkit-transform: rotateX(50deg) rotateZ(360deg) translateZ(-0.5rem);
            transform: rotateX(50deg) rotateZ(360deg) translateZ(-0.5rem);
  }
}

@-webkit-keyframes bounceHero {
  0% {
    top: 0px;
  }
  50% {
    top: 25px;
  }
  100% {
    top: 0px;
  }
}

@keyframes bounceHero {
  0% {
    top: 0px;
  }
  50% {
    top: 25px;
  }
  100% {
    top: 0px;
  }
}

.countdown {
  text-transform: uppercase;
  color: var(--white-color);
}

.countdown > div {
  display: block;
}

.countdown .countdown-container {
  margin: 0 5px;
}

.countdown .countdown-container:first-child {
  margin-left: 0;
}

.countdown .countdown-container .countdown-heading {
  font-size: 12px !important;
  font-weight: 500;
}

.countdown .countdown-container .countdown-value {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.countdown .countdown-container .countdown-value:first-child {
  padding-left: 0;
}

@media (max-width: 575px) {
  .countdown .countdown-container .countdown-value {
    font-size: 18px;
  }
}

.load-more .item {
  display: none;
}

.explore-area .explore-menu .btn {
  background: inherit;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.explore-area .explore-menu .btn::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 0;
  bottom: 5px;
  left: 50%;
  background-color: var(--primary-color);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.explore-area .explore-menu .btn.active {
  color: var(--primary-color);
}

.explore-area .explore-menu .btn.active::after {
  width: 60%;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 575px) {
  .item-details-area .countdown-value {
    font-size: 18px !important;
  }
}

.item-details-area .single-item-content:first-child {
  margin-top: 0;
}

.item-details-area .single-item-content .table.token-content {
  color: inherit;
  border-spacing: 0;
}

.item-details-area .single-item-content p:last-child {
  margin: 0;
}

.item-details-area .single-item-content.card {
  overflow: hidden;
}

.item-details-area .single-item-content.card .image-over {
  border-radius: 2px;
  overflow: hidden;
}

.item-details-area .single-item-content.card .image-over:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.item-details-area .single-item-content.card .image-over img {
  position: relative;
  height: 400px;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.item-details-area .single-item-content.card .image-over img.card-img-top {
  border-radius: 0;
}

@media (max-width: 575px) {
  .item-details-area .single-item-content.card .image-over img {
    height: 350px;
  }
}

.item-details-area .single-item-content.card .card-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.item-details-area .single-item-content.card .card-caption .play-btn a {
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  padding: 1.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 14px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.item-details-area .single-item-content.card .card-caption .play-btn a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.item-details-area .item-info img {
  border-radius: 8px;
}

.item-details-area .item-info .countdown-container {
  margin: 0 10px;
}

.item-details-area .item-info .countdown-container .countdown-heading {
  font-size: 14px !important;
}

.item-details-area .item-info .countdown-container .countdown-value {
  font-size: 20px;
}

.item-details-area .gameon-tab.nav-tabs {
  border-bottom: 2px solid var(--card-bg-color);
}

.item-details-area .gameon-tab li {
  margin: 0;
}

.item-details-area .gameon-tab li a {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  padding: 10px 0;
}

.item-details-area .gameon-tab li a::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 0;
  bottom: -2.5px;
  left: 0;
  background-color: var(--primary-color);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-details-area .gameon-tab li a.active h5 {
  color: var(--primary-color);
}

.item-details-area .gameon-tab li a.active::after {
  width: 100%;
  visibility: visible;
  opacity: 1;
}

.item-details-area .gameon-tab li:first-of-type a {
  margin-left: 0;
}

.item-details-area .tab-content .single-tab-list {
  margin: 1.5rem 0;
}

.item-details-area .tab-content .single-tab-list strong,
.item-details-area .tab-content .single-tab-list a {
  color: var(--white-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item-details-area .tab-content .single-tab-list a:hover {
  color: var(--primary-color);
}

.item-details-area .tab-content .owner h6 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item-details-area .tab-content .owner:hover h6 {
  color: var(--primary-color);
}

.staking-area .card {
  padding: 3rem;
  border-radius: 2rem;
}

@media (max-width: 575px) {
  .staking-area .card {
    padding: 2.5rem 2rem;
  }
}

.staking-area .card .balance {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 600;
  color: var(--white-color);
}

@media (max-width: 575px) {
  .staking-area .card .balance {
    font-size: 2rem;
  }
}

.staking-area .card .staking-tabs .nav-item {
  margin: 0.25rem 0.5rem 0.25rem 0;
}

.staking-area .card .staking-tabs .tab-link {
  display: inline-block;
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 500;
  background-color: #2c2f4c;
  color: var(--white-color) !important;
  border: 0;
  border-radius: 10px;
}

@media (max-width: 575px) {
  .staking-area .card .staking-tabs .tab-link {
    padding: 12px 18px;
    font-size: 14px;
  }
}

.staking-area .card .staking-tabs .tab-link.active {
  background-color: var(--primary-color);
}

.staking-area .card .staking-tab-content .info-box .info-right span {
  font-family: var(--primary-font);
  font-weight: 600;
}

.staking-area .card .staking-tab-content .info-box .info-right span:first-child {
  font-size: 3rem;
  font-weight: 500;
}

.staking-area .staking-items .card p {
  font-weight: 600;
}

.staking-area .input-area .input-text {
  position: relative;
  width: 70%;
  z-index: 3;
}

@media (max-width: 767px) {
  .staking-area .input-area .input-text {
    width: 100%;
  }
}

.staking-area .input-area .input-text input {
  position: relative;
  border: 2px solid;
  border-radius: 10px;
  z-index: 3;
}

.staking-area .input-area .input-text a {
  position: absolute;
  top: 50%;
  right: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0.8rem 1rem;
  background-color: #2c2f4c;
  color: var(--white-color);
}

.staking-area .input-btn {
  font-size: 15px;
  border-radius: 10px;
}

.staking-area .single-accordion-item {
  background-color: var(--card-bg-color);
  border-radius: 2rem;
}

.staking-area .single-accordion-item:not(:first-child) {
  margin-top: 3rem;
}

.staking-area .single-accordion-item .staking-btn {
  position: relative;
  padding: 3rem 2rem !important;
  background-image: none !important;
  color: var(--primary-p-color);
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media (max-width: 575px) {
  .staking-area .single-accordion-item .staking-btn {
    padding: 2.5rem 1.5rem !important;
  }
}

.staking-area .single-accordion-item .staking-btn::after {
  position: absolute;
  content: '\f107';
  top: 3rem;
  right: 3rem;
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
}

.staking-area .single-accordion-item .staking-btn.collapsed {
  border-radius: 2rem;
}

.staking-area .single-accordion-item .staking-btn.collapsed::after {
  position: absolute;
  content: '\f106';
  top: 3rem;
  right: 3rem;
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
}

.staking-area .single-accordion-item .staking-btn img {
  border-radius: 8px;
}

.staking-area .single-accordion-item .staking-btn .content p {
  font-weight: 500;
}

.staking-area .single-accordion-item .staking-btn .staking-info .single-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 575px) {
  .staking-area .single-accordion-item .staking-btn .staking-info .single-item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 0.6rem;
  }
}

.staking-area .single-accordion-item .staking-btn .staking-info .single-item span {
  display: inline-block;
}

.staking-area .single-accordion-item .staking-btn .staking-info .single-item span:last-child {
  margin-top: 0.5rem;
}

.staking-area .single-accordion-item .card-body {
  position: relative;
  padding: 3rem 2rem !important;
}

@media (max-width: 575px) {
  .staking-area .single-accordion-item .card-body {
    padding: 2.5rem 1.5rem !important;
  }
}

.staking-area .single-accordion-item .card-body::before {
  position: absolute;
  content: '';
  top: 0;
  left: 3rem;
  right: 3rem;
  height: 2px;
  background-color: rgba(115, 115, 115, 0.3);
}

@media (max-width: 575px) {
  .staking-area .single-accordion-item .card-body .single-staking-item:not(:first-child) {
    margin-top: 25px;
  }
}

.staking-area .single-accordion-item .card-body .single-staking-item .item-title {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
}

.staking-area .single-accordion-item .card-body .single-staking-item .price {
  font-weight: 700;
  color: var(--primary-p-color);
}

.staking-area .single-accordion-item .card-body .single-staking-item .reward {
  display: inline-block;
  font-size: 0.9rem;
}

.staking-area .single-accordion-item .input-area .input-text {
  width: 100%;
}

.leaderboard-area table {
  font-weight: 500;
  color: var(--primary-p-color);
  border-spacing: 0;
}

.leaderboard-area table tr th,
.leaderboard-area table tr td {
  display: inline-block;
  width: 20%;
  padding: 1.2rem;
  margin-bottom: 10px;
  background-color: var(--card-bg-color);
}

@media (max-width: 575px) {
  .leaderboard-area table tr th,
  .leaderboard-area table tr td {
    display: table-cell;
    padding: 1rem;
  }
}

.leaderboard-area table tr th {
  background-color: transparent;
  color: var(--white-color);
  margin-bottom: 0;
  text-transform: uppercase;
}

.cta-area .card {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(251, 251, 251, 0.079)), to(rgba(9, 10, 26, 0.096))), url(../img/bg/nunafondo.PNG);
  background-image: linear-gradient(0deg, rgba(9, 10, 26, 0.096), rgba(9, 10, 26, 0.1)), url(../img/bg/nunafondo.PNG);
  padding: 3rem 2rem;
  border-radius: 2rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cta-area .card p {
  color: var(--white-color);
}

@media (max-width: 575px) {
  .cta-area img {
    max-width: 120px;
  }
}

.cta-area .cta-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
}

.wallet-connect-area .single-wallet {
  padding: 45px;
  border-radius: 2rem;
}

.wallet-connect-area .single-wallet h4 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wallet-connect-area .single-wallet p {
  color: var(--primary-p-color);
}

.wallet-connect-area .single-wallet:hover h4 {
  color: var(--primary-color);
}

.help-center-area .card {
  padding: 45px;
  border-radius: 2rem;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help-center-area .card h4 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.help-center-area .card p {
  color: var(--primary-p-color);
}

.help-center-area .card:hover h4 {
  color: var(--primary-color);
}

@media (max-width: 575px) {
  .faq-area .single-accordion-item:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.faq-area .single-accordion-item .card-header .btn {
  position: relative;
}

.faq-area .single-accordion-item .card-header .btn::after {
  position: absolute;
  content: '\f107';
  top: 50%;
  left: calc(100% - 34px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 18px;
  font-weight: 900;
  font-family: 'Font Awesome 6 Free';
}

.faq-area .single-accordion-item .card-header .btn.collapsed::after {
  position: absolute;
  content: '\f105';
  top: 50%;
  left: calc(100% - 34px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 18px;
  font-weight: 900;
  font-family: 'Font Awesome 6 Free';
}

.apply-form {
  padding: 3rem;
  border-radius: 2rem;
}

@media (max-width: 575px) {
  .apply-form {
    padding: 2rem;
  }
}

.apply-form .form-group {
  margin-bottom: 2rem;
}

.apply-form .form-group label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.apply-form .form-group .form-text {
  font-size: 0.9rem;
}

.apply-form .form-group.form-check input[type="checkbox"]::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--card-bg-color);
  border: 1px solid var(--primary-p-color);
}

.apply-form .form-group.form-check input:checked::after {
  content: none;
}

.apply-form .form-group.form-check label {
  font-size: 0.9rem;
  margin-bottom: 0;
  margin: 4px 0px 0px 5px;
}

@media (max-width: 575px) {
  .apply-form .form-group.form-check label {
    margin-top: 0;
  }
}

.apply-form .checkbox-area .reset-link {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--primary-p-color);
}

.apply-form span {
  font-size: 0.9rem;
}

.apply-form span.notice {
  font-weight: 500;
}

.apply-form span.notice a {
  font-size: 0.9rem;
  font-weight: 500;
}

.contact .contact-items .card {
  border-radius: 2rem;
}

ul.page-numbers {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px auto;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

ul.page-numbers li {
  margin: 0 5px;
}

a.page-numbers,
span.page-numbers {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  font-weight: 400;
  border-radius: 10px;
  background-color: var(--card-bg-color);
  color: var(--white-color) !important;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

span.page-numbers.current {
  background-color: var(--primary-color);
  color: var(--white-color);
}

a.page-numbers:hover {
  background-color: var(--primary-color);
  color: var(--secondary-bg-color);
}

.badge {
  font-weight: 500;
}

.badge.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  background-color: var(--primary-bg-color-3);
}

.badge.tag {
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-p-color) !important;
  border: 2px solid var(--card-bg-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.badge.tag.active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.badge.tag:hover {
  color: var(--primary-color) !important;
}

.share-list {
  display: -webkit-inline-box;
}

.share-list .nav-link i {
  margin: 0 1rem;
  font-size: 22px;
}

.breadcrumb {
  margin: 0;
  background: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: inherit;
}

.breadcrumb-area {
  height: 450px;
  z-index: 1;
}

.breadcrumb-area .breadcrumb-item {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.3rem 0;
}

.breadcrumb-area .breadcrumb-item a:not(.btn) {
  font-weight: 600 !important;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.breadcrumb-area .breadcrumb-item a:not(.btn):not(:hover) {
  color: var(--white-color);
}

.breadcrumb-area .breadcrumb-item.active {
  color: var(--primary-color);
}

.breadcrumb-area .breadcrumb-item.active:hover {
  color: var(--primary-color);
}

.breadcrumb-area .breadcrumb-content h2 {
  font-weight: var(--h1-weight);
}

.breadcrumb-area .breadcrumb-content .breadcrumb {
  background-color: transparent;
  margin: 0;
}

.breadcrumb-area .breadcrumb-content .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: var(--white-color);
}

.image-over {
  overflow: hidden;
  border-radius: 2px;
}

.overlay-dark {
  position: relative;
  z-index: 0;
}

.overlay-dark::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-bg-color);
  opacity: 0.84;
  z-index: -1;
}

.social-icons i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social-icons > a {
  margin: 5px;
  width: 45px;
  height: 45px;
  font-size: 22px;
  background: var(--card-bg-color);
  color: var(--white-color) !important;
  border-radius: 14px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social-icons > a:hover i:first-child {
  margin-top: -45px;
}

/* #endregion Feature */
/*----------------------------------------------
9. Footer
----------------------------------------------*/
/* #region Footer */
.footer-area {
  padding: 50px 0;
}

.footer-area .footer-items .navbar-brand {
  margin-right: 0;
}

.footer-area .footer-items ul {
  padding-left: 0;
}

.footer-area .footer-items ul li {
  margin: 0.5rem 1rem;
}

@media (max-width: 575px) {
  .footer-area .footer-items ul li {
    display: block;
    margin: 1rem;
  }
}

.footer-area .footer-items a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-area .footer-items a:not(:hover) {
  font-weight: 500;
  color: var(--white-color);
}

.footer-area .footer-items a:hover {
  font-weight: 500;
}

/* #endregion Footer */
/*----------------------------------------------
10. Modal
----------------------------------------------*/
/* #region Modal */
.modal-open {
  overflow-x: hidden;
  overflow-y: hidden;
}

.modal-open .modal {
  overflow: hidden;
}

.dialog-animated {
  min-height: 100%;
  margin: 0 0 0 auto;
}

.modal.fade .modal-dialog.dialog-animated {
  -webkit-transform: translate(100%, 0) scale(1);
          transform: translate(100%, 0) scale(1);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.modal.fade.show .modal-dialog.dialog-animated {
  height: 100%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-content {
  background-color: var(--primary-bg-color);
  border: none;
  border-radius: 0;
  overflow-x: hidden;
}

.modal-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border: none;
  font-weight: 600;
  border-radius: 0;
}

.modal-header .icon-close {
  font-size: 24px;
  cursor: pointer;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.search-title {
  line-height: 1em;
  letter-spacing: -1.6px;
}

@media (min-width: 991px) {
  .search-title {
    font-size: 45px;
  }
}

/* #endregion Modal */
/*----------------------------------------------
11. Miscellaneous
----------------------------------------------*/
/* #region Miscellaneous */
.scroll-to-top {
  height: 45px;
  width: 45px;
  line-height: 45px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--card-bg-color);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 14px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.scroll-to-top a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 45px !important;
}

.scroll-to-top a svg {
  font-size: 20px;
  color: var(--white-color);
}

.scroll-to-top:hover {
  background-color: var(--primary-color);
}

.scroll-to-top:hover, .scroll-to-top:focus {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* #endregion Miscellaneous */
/*----------------------------------------------
12. Blog
----------------------------------------------*/
/* #region Blog */
.single-widget {
  margin-bottom: 35px;
}

.single-widget h4 {
  font-weight: 700;
  border-bottom: 2px solid var(--card-bg-color);
}

.sidebar .single-widget:last-child {
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .blog .col-12.col-sm-6 {
    padding: 0;
  }
}

@media (max-width: 575px) {
  .blog .single-comments {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog .single-widget ul li {
  margin: 1.2rem 0;
}

.blog .single-widget .tags-widget a {
  border: 1px solid var(--primary-bg-color-3);
}

.blog .single-widget .post-widget h6 {
  font-size: var(--h5-size);
}

.blog .pagination > li > a {
  display: inline-block;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  color: var(--primary-p-color);
  border: 1px solid var(--primary-bg-color-3);
}

.blog .pagination > li.active > a {
  color: var(--white-color);
  border: none;
}

/* #endregion Blog */
/*----------------------------------------------
13. All Media Queries
----------------------------------------------*/
/* #region All Media Queries */
@media (max-width: 1199px) {
  /* #region Section */
  body .container {
    padding: 0 10px;
    max-width: 100%;
  }
  /* #endregion Section */
  /* #region Header */
  body header .navbar-expand .navbar-nav.toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header .navbar-expand .navbar-nav.contacts, body header .navbar-expand .navbar-nav.items,
  body header .navbar-expand .navbar-nav.icons .social {
    display: none;
  }
  /* #endregion Header */
  /* #region Feature */
  body .card-footer {
    margin: 0;
  }
  /* #endregion Feature */
}

@media (max-width: 991px) {
  /* #region General */
  body h1 {
    font-size: 4rem;
  }
  body h2 {
    font-size: 2.5rem;
  }
  /* #endregion General */
  /* #region Section */
  body aside {
    margin-top: 60px;
  }
  /* #endregion Section */
  /* #region Helper Class */
  body .intro {
    margin-bottom: 25px;
  }
  /* #endregion Helper Class */
  /* #region Feature */
  body .res-margin {
    margin-bottom: 30px;
  }
  /* #endregion Feature */
}

@media (max-width: 767px) {
  /* #region General */
  body {
    overflow-x: hidden;
  }
  body h1 {
    font-size: 3rem;
  }
  /* #endregion General */
  /* #region Section */
  body section {
    padding: 90px 0;
  }
  /* #endregion Section */
  /* #region Helper Class */
  body .gameon-preloader .preloader-animation .spinner {
    height: 6em;
    width: 6em;
  }
  body .gameon-preloader .preloader-animation .loader {
    font-size: var(--h2-size);
  }
  /* #endregion Helper Class

    /* #region Header */
  body header .navbar-expand .navbar-brand {
    margin: 0;
  }
  body header .navbar-expand .navbar-nav.action .btn {
    padding: 5px 10px;
    font-size: 0;
  }
  body header .navbar-expand .navbar-nav.action .btn i {
    font-size: initial;
    margin: 0;
  }
  /* #endregion Header */
  /* #region Features */
  body .icon.bigger {
    width: 5rem;
    height: 5rem;
    margin: 0;
    font-size: 4.5rem;
    line-height: 5rem;
    font-weight: bold;
  }
  /* #endregion Features */
  /* #region Footer */
  body footer .contacts {
    left: 0;
    margin-bottom: 30px;
  }
  body footer .contacts:before {
    left: 0;
    width: 100%;
  }
  body footer .contacts:after {
    left: 0;
    width: 100%;
  }
  body .footer-area {
    padding: 80px 0;
  }
  body .footer-area .items .item {
    margin-bottom: 30px;
  }
  /* #endregion Footer */
}

@media (max-width: 576px) {
  /* #region Helper Class */
  body .gameon-preloader .preloader-animation .spinner {
    height: 5em;
    width: 5em;
  }
  body .gameon-preloader .preloader-animation .loader {
    font-size: var(--h3-size);
  }
  body .avatar-max-lg {
    height: 5rem;
    width: 5rem;
  }
  body .cta-area .card h2 {
    font-size: 2rem;
  }
  /* #endregion Helper Class */
  /* #region Modal */
  body .modal-body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  /* #endregion Modal */
}

/* #endregion All Media Queries */
/*# sourceMappingURL=style.css.map */